* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
}

/* NAVBAR */
.navbar {
    background-color: #000;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #00ffcc;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #00ffcc;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 15px;
    color: #00ffcc;
}

.hero p {
    font-size: 18px;
    color: #ccc;
}
/* FORM */
.form-container {
    width: 350px;
    margin: 80px auto;
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #00ffcc;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #00ffcc;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #00ccaa;
}
